{% extends "GestioneUtenti/base.html" %}
{% comment %}
    Vista per categorie
{% endcomment %}

{% block body %}
    <div class="one-half">
        <div class="heading_bg">
            <h2>Benvenuto {{ request.user.username|capfirst }},</h2>
            <p>Grazie per aver effettuato il login, ora puoi navigare liberamente per il sito</p>
        </div>
    </div>

    <div class="one-half last">
        <div class="heading_bg">
            <h2>Riepilogo dati personali:</h2>

            <table>
                <tr>
                    <td><strong>Nome:</strong></td>
                    <td>{{ request.user.first_name }}</td>
                </tr>
                <tr>
                    <td><strong>Cognome:</strong></td>
                    <td>{{ request.user.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{ request.user.email }}</td>
                </tr>
                <tr>
                    <td><strong>Indirizzo:</strong></td>
                    <td>{{ request.user.indirizzo|linebreaksbr }}</td>
                </tr>
            </table>
            
        </div>
    </div>
{% endblock %}