<!DOCTYPE HTML>
<head>
    {% load staticfiles %}
    <title>Aste on line</title>
    <meta charset="utf-8">
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'AsteOnLine/css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'AsteOnLine/css/simple_menu.css' %}">
    <!--JS FILES -->


    {% block head %}
    {% endblock %}
</head>

<body>
<div class="header">
  <!-- Logo/Title -->
  <div id="site_title"><a href="{% url 'AsteOnLine:index' %}"> <img src="{% static 'AsteOnLine/img/logo.jpg' %}" alt="" width="auto" height="100"></a> </div>
  <!-- Main Menu -->
  <ol id="menu">
    <li class="active_menu_item"><a href="{% url 'AsteOnLine:index' %}" style="color:#FFF">Home</a></li>
    <!-- end sub menu -->
    <li><a href="{% url 'AsteOnLine:categorie' %}">Categorie</a>

    <li><a href="{% url 'GestioneUtenti:profilo' %}">Area Personale</a>
      <!-- sub menu -->
      <ol>
        <li><a href="{% url 'GestioneUtenti:login' %}">Accedi</a></li>
        <li><a href="{% url 'GestioneUtenti:riepilogo' %}">Le mie aste</a></li>
        <li><a href="{% url 'GestioneUtenti:nuovaasta' %}">Inserisci un asta</a></li>
        <li><a href="{% url 'GestioneUtenti:logout' %}">Esci</a></li>
      </ol>
    </li>
    <!-- end sub menu -->
    <li><a href="{% url 'AsteOnLine:contatti' %}">Contatti</a></li>
  </ol>
</div>
<!-- END header -->
<div id="container">

    {% block body %}
    {% endblock %}
    <div style="clear:both; height: 40px"></div>

</div>
<div id="footer">
    <div class="one-fourth">
        <h3>Su di noi</h3>
        Questo sito &egrave; stato realizzato da:
        <ul class="footer_links">
            <li><a href="https://github.com/IlTorre/" target="_blank">Marco Torreggiani</a></li>
            <li><a href="https://github.com/B1gEyedF1sh" target="_blank">Alberto Vezzani</a></li>
        </ul>
    </div>

    <div class="one-fourth">
        <h3>Mappa del sito</h3>
        <ul class="footer_links">
            <li><a href="{% url 'AsteOnLine:index' %}">Home</a></li>
            <li><a href="{% url 'AsteOnLine:categorie' %}">Categorie</a></li>
            <li>
                <a href="{% url 'GestioneUtenti:profilo' %}" >Account</a><br />
                    <a href="{% url 'GestioneUtenti:registrazione' %}">&nbsp;&nbsp;Registrati</a><br />
                    <a href="{% url 'GestioneUtenti:riepilogo' %}">&nbsp;&nbsp;Le mie aste</a><br />
                    <a href="{% url 'GestioneUtenti:nuovaasta' %}">&nbsp;&nbsp;&nbsp;&nbsp;Inserisci asta</a>
            </li>
        </ul>
    </div>

    <div class="one-fourth">
        <h3>Termini e condizioni</h3>
        Sito realizzato a scopo didattico, non va considerato un vero sito di acquisto online.
    </div>

    <div class="one-fourth last">
        <h3>Contattaci</h3>
        Per contattare l'amministratore clicca <a href="{% url 'AsteOnLine:contatti' %}">qui</a>
    </div>

<div style="clear:both"></div>
</div>
<!-- END footer -->
</body>
</html>