{% extends "AsteOnLine/base.html" %}
{% comment %}
    Main page of django_mysite.
{% endcomment %}

{% block body %}
    <header>
        <h1>Django Mysite</h1>  </header>
    <section>
        <p>Welcome to Django Mysite. </p>
        {% if aste_recenti %}
            <div id="prod_nav">
                <ul>
                    {% for asta in aste_recenti %}
                        <li><a href="{% url 'GestioneUtenti:dettaglio' asta.id %}"><img src="media/{{ asta.foto }}" alt="" width="100px"><strong>{{ asta.titolo }}</strong> {{ asta.base_asta }} &euro;</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Non ci sono aste disponibili</p>
        {% endif %}
    </section>
{% endblock %}
