{% extends "AsteOnLine/base.html" %}
{% comment %}
    Main page of django_mysite.
{% endcomment %}

{% block body %}
        {% if asta %}
            <h1>{{ asta.titolo }}</h1>
            <img  src="../media/{{ asta.foto }}" alt="" width="960" height="450">
            <div class="one-half">
                <div class="heading_bg">
                    <h2>Descrizione</h2>
                </div>
                <p>{{ asta.descrizione|linebreaksbr }}</p>
            </div>

            <div class="one-half last">
                <div class="heading_bg">
                    <h2>Informazioni asta</h2>
                </div>

                <p>
                    L'asta scade il <strong>{{ asta.data_chiusura|date:"d/m/Y" }}</strong> alle
                    <strong>{{ asta.data_chiusura|time:"H:i:s" }}</strong> <br/>
                    Offerta attuale: <strong>{{ asta.offerta_corrente }}&euro;</strong> (incremento minimo &euro;1.00)
                </p>

                {% if attiva %}
                    <form action="" id="offerta_form" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label>Offerta</label>
                            {%  if asta.base_asta > asta.offerta_corrente %}
                                <input type="number" step="0.01" name="offerta" min="{{asta.base_asta|floatformat }}"
                                       value="{{ asta.base_asta|floatformat }}" width="30">
                            {% else %}
                                <input type="number" step="0.01" name="offerta" min="{{asta.offerta_corrente|floatformat|add:1}}"
                                       value="{{ asta.offerta_corrente|floatformat|add:1 }}" width="30">
                            {% endif %}
                            <p style="text-align:right; margin-right: 16px">
                                <input name="Mysubmitted" value="Fai l'offerta" class="button white" type="submit"
                                       onClick="return confirm('Stai facendo un offerta vincolante. Continuare?')">
                            </p>
                        </fieldset>
                    </form>
                {% else %}
                    <p>Offerta scaduta </p>
                {% endif %}
            </div>


        {% else %}
            <p>Asta inesistente</p>
        {% endif %}
    </section>
{% endblock %}
