{% extends "AsteOnLine/base.html" %}
{% comment %}
    Main page of django_mysite.
{% endcomment %}

{% block head %}
    <script>
        function startTimer(duration, display) {
            var timer = duration, days,hours,minutes, seconds;
            setInterval(function () {
                seconds = timer
                days = Math.floor(seconds/(24*3600))
                seconds=seconds-days*24*3600
                hours = Math.floor(seconds/3600)
                seconds=seconds-hours*3600
                minutes = Math.floor(seconds/60)
                seconds = seconds-minutes*60;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent =  days +" giorni, " + hours + " ore, " + minutes + " minuti e " + seconds + " secondi ";

                if (--timer < 0) {
                    timer = 0;
                }
            }, 1000);
        }

    window.onload = function () {
        var restante = {{ restanti }},
            display = document.querySelector('#time');
        startTimer(restante, display);
    };

    </script>
{%  endblock %}

{% block body %}
        {% if asta %}
            <h1 xmlns="http://www.w3.org/1999/html">{{ asta.titolo|capfirst }}</h1>
            <img  src="../media/{{ asta.foto }}" alt="" width="960" height="450">
            <div class="one-half">
                <div class="heading_bg">
                    <h2>Descrizione</h2>
                </div>
                <p>{{ asta.descrizione|linebreaksbr }}</p>
            </div>

            <div class="one-half last">
                <div class="heading_bg">
                    <h2>Informazioni asta</h2>
                </div>

                <p>
                    Venditore: <strong>{{ asta.creatore.username|capfirst }}<br /></strong>
                    L'asta scade il <strong>{{ asta.data_chiusura|date:"d/m/Y" }}</strong> alle
                    <strong>{{ asta.data_chiusura|time:"H:i:s" }}</strong> <br/>
                    Base d'asta: <strong>{{ asta.base_asta }}</strong> <br />
                    Offerta attuale: <strong>{{ asta.offerta_corrente }}&euro;</strong> (incremento minimo l'unit&agrave; intera successiva)
                </p>

                {% if attiva %}
                    <h4>L'asta scade tra:<br/> <span id="time"></span><br/> Affrettati!</h4>
                    <form action="" id="offerta_form" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label>Offerta</label>
                            {%  if asta.base_asta > asta.offerta_corrente %}
                                <input type="number" step="0.01" name="offerta" min="{{asta.base_asta|stringformat:'.2f' }}"
                                       value="{{ asta.base_asta|stringformat:'.2f' }}" width="30">
                            {% else %}

                            <input type="number" step="0.01" name="offerta" min="{{asta.offerta_corrente|add:1|stringformat:'.2f'}}"
                                       value="{{ asta.offerta_corrente|add:1|stringformat:'.2f' }}" width="30">
                            {% endif %}
                            <p style="text-align:right; margin-right: 16px">
                                <input name="Mysubmitted" value="Fai l'offerta" class="button white" type="submit"
                                       onClick="return confirm('Stai facendo un offerta vincolante. Continuare?')">
                            </p>
                        </fieldset>
                    </form>
                {% else %}
                    <strong><h4>Offerta scaduta </h4></strong>
                {% endif %}
            </div>
            {% if not attiva and request.user == asta.creatore %}
            <div class="one last">
                <div class="heading_bg">
                    <h2>Servizi al venditore:</h2>
                </div>
                {% if indirizzo %}
                    <table>
                        <tr>
                            <td><strong>Spedire a:</strong></td>
                            <td>{{ indirizzo|linebreaksbr }}</td>
                        </tr>
                    </table>
                            <form action="" id="stato_form" method="post">
                                {% csrf_token %}

                            <h4>Puoi modificare lo stato di avanzamento dell'ordine:
                                {{ form.stato }}
                                <input type="submit" class="button white" value="Modifica stato"></h4>
                            </form>
                {% else %}
                    <h4>Purtroppo non hai ricevuto offerte per quest'asta, non sono richieste ulteriori azioni da parte tua.</h4>
            {% endif %}
            </div>
            {% endif %}

            <div style="clear:both"></div>
            <div class="one last">
                <div class="heading_bg">
                                <h2>Chi ha votato per quest'asta ha votato anche per:</h2>
                            </div>
                <div id="prod_nav">
                  <ul>
                      {% if correlati %}
                          {% for art in correlati %}
                              <li>
                                  <a href="{% url 'AsteOnLine:offerta' art.id %}"><img src="../media/{{ art.foto }}" width="75px" height="75px">
                                  <strong>{{ art.titolo|truncatechars_html:20 }}</strong>
                                  {{ art.offerta_corrente }} &euro;
                                  </a>
                              </li>
                          {% endfor %}
                      {% else %}
                          <p>Non ci sono articoli correlati da mostrare.</p>
                      {% endif %}
                  </ul>
                </div>
            </div>


        {% else %}
            <p>Asta inesistente</p>
        {% endif %}
    </section>
{% endblock %}
