{% extends "AsteOnLine/base.html" %}
{% comment %}
    Main page of django_mysite.
{% endcomment %}

{% block body %}
    <header>
        <h1>Aste disponibili:</h1>
    </header>
    <section>
        {% if aste_recenti %}
            <div id="prod_wrapper">
                <div id="panes">
                    {% for asta in aste_recenti %}
                        <div>
                            <img src="media/{{ asta.foto }}" alt="" width="300px">
                            <h5>{{ asta.titolo }}</h5>
                            <p>{{ asta.descrizione }}</p>
                            <p style="text-align:right; margin-right: 16px"><a href="#" class="button">Fai un'offerta</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="prod_nav">
                <ul>
                    {% for asta in aste_recenti %}
                        <li><a href="#{{ asta.id }}"><img src="media/{{ asta.foto }}" alt="" width="100px"><strong>{{ asta.titolo }}</strong> {{ asta.base_asta }} &euro;</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Non ci sono aste disponibili</p>
        {% endif %}
    </section>
{% endblock %}
