{% extends "AsteOnLine/base.html" %}
{% comment %}
    Main page of django_mysite.
{% endcomment %}
{% block head %}
    <script>
    $(document).ready(function () {
        $(".pane-list li").click(function () {
            window.location = $(this).find("a").attr("href");
            return false;
        });
    });
    </script>
{% endblock %}

{% block body %}
    <header>
        <h1>Aste disponibili:</h1>
    </header>
    <section>
        {% if aste_recenti %}
            <div id="prod_wrapper">
                <div id="panes">
                    {% for asta in aste_recenti %}
                        <div>
                            <img src="media/{{ asta.foto }}" alt="" width="379px"height="225">
                            <h5>{{ asta.titolo }}</h5>
                            <p>{{ asta.descrizione|linebreaksbr|truncatechars_html:180 }}</p>
                            <p style="text-align:right; margin-right: 16px"><a href="{% url 'AsteOnLine:offerta' asta.id %}" class="button">Dettagli</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="prod_nav">
                <ul>
                    {% for asta in aste_recenti %}
                        <li><a href="#{{ asta.id }}"><img src="media/{{ asta.foto }}" alt="" width="75px" height="75">
                            <strong>{{ asta.titolo|truncatechars_html:20 }}</strong>
                            {% if asta.base_asta > asta.offerta_corrente %}
                                {{ asta.base_asta }}
                            {% else %}
                                {{ asta.offerta_corrente }}
                            {% endif %}
                            &euro;
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Non ci sono aste disponibili</p>
        {% endif %}
    </section>
{% endblock %}
